node_modules/
.env
client_secret_846606185059-unuv688bhjurcff5d10gcppr708q6g49.apps.googleusercontent.com.json
posts-with-content.json
posts-with-embeddings.json
posts-with-embeddings-2.json
posts.json
embeddings.json
progress.json
env/